# --- Підключення до PostgreSQL ---
# Формат: postgresql://КОРИСТУВАЧ:ПАРОЛЬ@ХОСТ:ПОРТ/БАЗА?schema=public
DATABASE_URL="postgresql://webprog:webprog@localhost:5433/rezanok_lab?schema=public"

# --- Налаштування HTTP-сервера ---
PORT=3000
NODE_ENV=development

# Дозволені джерела для CORS (через кому), або * для всіх
CORS_ORIGIN=*
